*{
    margin: 0;
    padding: 0;
}

:root{
    --background: rgb(13, 35, 46);
    --med_dark_blue: rgb(1, 67, 93);
    --med_light_blue: rgb(33, 111, 141);
    --light_blue: rgb(168, 187, 194);
    --font_color: rgb(218, 220, 215);
    --weird_green: rgb(150, 183, 174);
}

@font-face {
    font-family: Comic;
    src: url("Ldfcomicsans-jj7l.ttf");
}

body{
    width: 100vw;
    height: 1100vh;
    font-family: Calibri;
    background-color: var(--background);
}
body *{
    color: var(--font_color);
}
#main_headline{
    color: var(--weird_green);
    /* filter: contrast(2); */
    width: 90%;
    margin-inline: auto;
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
}
.nav{
    margin: 1rem 0 0 0 ;
    width: 90%;
    margin-inline: auto;
    border-top: 2px solid var(--font_color);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    padding-top: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
}
.nav *{
    text-decoration: none;
}

#dropdown_header{
    padding-bottom: 1rem;
}
.dropdown > .content{
    /* display: none; */
    border: 2px solid var(--med_dark_blue);
    position: absolute;
    padding: 1.5rem;
    border-radius: 7px;
    background: var(--med_dark_blue);
    opacity: 0;
    transform: scale(0) translateX(-25%);
    /* transform: translateX(-25%); */
    transform-origin: center;
    transition: opacity .5s; 
}

.dropdown:hover > .content{
    opacity: 1;
    transform: scale(1) translateX(-25%);
}
#content_list{
    list-style-type: none;
}
#content_list>li+li{
    margin-top: 1rem;
}

.dropdown > .content::before{
    content: "";
    border: 1rem solid transparent;
    border-bottom-color: var(--med_dark_blue);
    display: inline-block;
    height: 0;
    width: 0;
    position: absolute;
    top: -2rem;
    left: calc(50% - 1rem);
}