*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
    --background: rgb(13, 35, 46);
    --med_dark_blue: rgb(1, 67, 93);
    --med_light_blue: rgb(33, 111, 141);
    --light_blue: rgb(168, 187, 194);
    --font_color: rgb(218, 220, 215);
    --weird_green: rgb(150, 183, 174);
}

.project_content{
    margin-top: 2.5rem;
}
.images_container{
    width: 50vw;
    height: 50vh;
    margin-left: 5vw;
    border-radius: 7px;
    box-shadow: 0 0 12px #000;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 2rem;
    
}

.image_container{
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .75s;
    position: relative;
}

.info_image{
    position: absolute;
    width: 100%;
}

.info_text{
    padding: 0 5%;
}
.info_text h2{
    font-size: 2.5rem;
}
.info_text p{
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: justify;
}
.info_image_description{
    opacity: 0;
    font-style: italic;
    position: absolute;
    width: 100%;
    padding: 3rem;
    text-align: center;
    transform: translateY(7.4rem);
    transition: opacity .5s, transform .5s;
    left: 0;
    bottom: 0;
}

.info_image_description:before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--med_light_blue);
    opacity: .5;
    left: 0;
    top: 0;
    transition: blur .2s;
}

.image_container:hover>.info_image_description{
    opacity: 1;
    transform: translateY(0);
}
.image_container:hover>.info_image_description:before{
    filter: blur(3px);
}